/***********************
    RESET
***********************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    color: var(--color-secondary);
}

/***********************
    CUSTOM PROPS
***********************/
:root {
    --color-primary: #00e165;
    --color-secondary: #001432;

    --base-space: 5px;
    --logo-h: 60px;
    --header-h: calc(var(--logo-h) + var(--base-space)*2);
    --grid-w: 570px;
}

/***********************
    HEADER
***********************/
header {
    height: var(--header-h);
    padding: var(--base-space) 0;
}

#logo_img {
    height: var(--logo-h);
}

#logo_title {
    line-height: calc(var(--logo-h) - 5px);
    font-weight: 700;
}

#header_points {
    font-size: 1.1rem;
    justify-self: center;
}

#points_counter {
    color: var(--color-primary);
}

#header_btn, 
#difficulty {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-primary);
    margin-right: var(--base-space);
}

#difficulty {
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
}

/***********************
    MAIN
***********************/
#main {
    height: calc(100vh - var(--header-h)*1.5);
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
}

#grid_container {
    margin: 0 auto;
    width: var(--grid-w);
    aspect-ratio: 1;
    /* border: 2px solid white; */

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.game-over {
    cursor: not-allowed;
}

.cell {
    height: calc(100% / 10);
    aspect-ratio: 1;
    border: 1px solid white;
    padding: 0 var(--base-space);
}

.clicked {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: not-allowed;
}

.bomb {
    background-color: red;
}

/***********************
    FOOTER
***********************/
footer {
    padding: var(--base-space) 0;
    height: calc(var(--header-h)*0.5);
}

#footer_text {
    margin-left: 20px;
}

/********************************************
                MEDIA QUERY
********************************************/
@media screen and (max-width: 992px) {

    :root {
        --grid-w: 800px;
    }
}

@media screen and (max-width: 768px) {

    :root {
        --grid-w: 680px;
        --header-h: 90px;
    }

    #header {
        display: flex;
        align-items: center;
    }

    #logo_title {
        font-size: 1.8rem;
    }

    #footer_text {
        margin-left: 0;
    }
}

@media screen and (max-width: 576px) {

    :root {
        --grid-w: 500px;
        --header-h: 200px;
    }

    #logo_title {
        font-size: 2.5rem;
    }

    #header_form {
        margin-left: 10px;
    }

    #header_points {
        margin-right: 10px;
    }

    footer > .container {
        padding-top: 20px;
    }
}